body {
    font-family: sans-serif;
    background-color: #d9d9d9;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #284b63;
    align-items: center;
    padding: 1.2rem;
}

h1 {
    color: white;
    font-size: 1.5rem;
}



.nav__list {
    display: flex;
}

.nav__list__item {
    padding-left: .5rem;
}

.nav__list__item__link {
    padding: .6rem;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.nav__list__item__link:hover {
    background-color: #17455c;
}